#cv-overview {
  border-style: solid;
  width: 40%;
  height: 88vh;

  position: sticky;
  top: 10px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  padding: 2rem;

  background-color: #f0f9ff;
  color: black;
}
